/* .content-section.right-white-bg:before {
    content: "";
    width: calc(50% - 300px);
    height: calc(100% + 1px);
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
}
h6{
    color: #0a7ed8;
} */
/* html {
   scroll-behavior: smooth !important;
} */
.page-transition {
   z-index: unset;
}

.xc_parallax {
   /* The image used */
   background-image: url("../images/lo.jpeg");

   /* Set a specific height */
   min-height: 300px;

   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.sec_para {
   width: 100%;
   height: 300px;
   overflow: hidden;
}

.sec_para img {
   width: 100%;
   height: auto;
}


div#events-link .content-box span {
   display: none;
}

div#events-link .section-title h2 {
   margin-bottom: .4rem;
   text-transform: uppercase;
}


div#events-link .section-title {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   align-content: center;
}


.ksum figure {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   flex-direction: row;
   align-items: center;
}

.ksum img {
   max-width: 380px;
   width: 100%;
}


.schedule-eve {
   display: none;
}

/* root */
:root {
   --xc0: #000;
   --xc1: #FFF;
   --xc2: #4656E1;
   --xc3: rgb(0 101 178);
}

/* end root */

/* nav  */
.slider .events-slider-content .swiper-slide .inner h2 {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   font-size: 3rem;
   font-weight: 800;
}

.event-box {

   max-width: 490px;
}

.slider {
   background: #2b2a32;

   background-image: url('../images/bck.svg');
   background-size: cover;
}

.navbar.pinned {
   position: fixed;
}

.navbar .container-mine {
   border: 1px solid red;
   display: flex;
   justify-content: space-between;
   width: 100%;
   padding: 0 2rem;
}

.navbar .container-mine .site-menu {
   border: 1px solid red;
   display: flex;
   align-items: center;
}

.xc-slider-head {
   font-size: 3.31rem;
}

.navbar {
   padding: 5px 0;
}

.navbar .xc-nav-fixed .dark .pinned {
   padding: 0 !important;
}

.xc-nav-btn {
   height: 40px;
   padding: 0px 10px;
}

.xc-nav-btn {
   padding: 0px 15px;
   height: 44px;
}

/* end nav */

/* about */
.xc-iedc-about {
   font-family: sans-serif;
}

.xc-count {
   text-align: center;
   justify-content: center;
   align-items: center;
}

.xc-odo-box .counter-box {
   width: 345px;
   padding: 0 5%;
}

.counter-box .xc-count-odo {
   margin-top: 20px;
   font-size: 2.6rem;
   font-weight: 600;
   /* line-height: 1.2 !important; */
   margin-bottom: -0.9em;
}

/* about */

/* events */
/* .section-eve{
    display: none;
} */
/* 
 end events */

/* counter */
.xc-odo-box .counter-box p {
   line-height: 1.2 !important;
   font-size: 1rem;

}

.xc-odo-box .counter-box h3 {
   font-size: 1.3rem;
   margin-bottom: -1em;
}

/* end counter */

/* about */
.xc-about-more {
   text-decoration: underline;
}

#more,
#more2 {
   display: none;
   transition: .5s;
}

.xc-more {
   border-radius: 50px;
   background: #0a7ed8;
   border: 1px solid #0a7ed8;
   color: #fff;
   padding: 5px 18px;
}

/* end about */

/* footer */
.xc-foot-copy {
   text-align: center;
}

.xc-foot-logo {
   height: 70px;
}

/* .footer-ksum{
   width: 100%;
   max-width: 80px;
} */
.footer-istate {
   height: auto;
   width: 240px;
}

.text-right {
   text-align: right;
}

.v-center {
   align-content: space-around;
}

/* .footer-initc{
   width: 100%;
   max-width: 80px;
}
.footer-nsvg{
   width: 100%;
   max-width: 80px;
} */
.xc-footcont {
   line-height: 1.5rem;
}

.xc-footcont p a,
.xc-link {
   color: #fff;
   font-weight: 600;
   opacity: 0.5;
   -webkit-transition: all 0.25s ease-in-out;
   -moz-transition: all 0.25s ease-in-out;
   -ms-transition: all 0.25s ease-in-out;
   -o-transition: all 0.25s ease-in-out;
   transition: all 0.25s ease-in-out;
}

.xc-footcont p a:hover,
.xc-link:hover {
   opacity: 1;
   text-decoration: none;
}

.hide-desk {
   display: none;
}

.xc-route-box {
   width: 100%;
   max-width: 100%;
   height: 450px;

   margin-top: 0;

}

.xc-route-box .title h6 {
   width: calc(100% - 70px);
   display: inline-block;
   padding-left: 20px;
   padding-top: 5px;
   margin-bottom: 0;
   font-size: 14px;
   font-weight: 800;
   color: #6052CE;
   text-transform: uppercase;
   line-height: 27px;
   font-family: inherit;
}

.xc-summit-years ul {
   list-style: none;
   display: flex;
   gap: 20px;
   font-size: 2rem;
   font-weight: 800;
   color: #c6c6c6;
   transition: .5s;
}

.xc-summit-years ul li {
   transition: .5s;
   cursor: pointer;
}

.xc-summit-years ul li:hover,
.xc-summit-years ul li.active {
   color: #ff579f;
}

.xc-road-to-summit {
   background: #f5fbfb;
}

.navbar .navbar-button a {
   height: 45px;
   padding: 0 16px;
}

.footer .bottom-bar {
   background: none;
   padding: 20px 0;
}

.xc-testimonial {
   display: none;
}

.google-maps {
   width: 100%;
   height: 500px;
   display: flex;
   overflow: hidden;
   position: relative;
}

.speakers {
   display: none !important;
}

.carousel-control-next,
.carousel-control-prev {
   background: unset;
   border: unset;
}

.ca-program h6 {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 2rem;
}

.ca-guidelines {
   margin: 1rem 0;
   text-align: center;
}

.ca-guidelines a {
   text-decoration: underline;
   color: var(--xc2);
}

.ca-program-img {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2rem;

}

.ca-program-img img {
   border-radius: 8px;
   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 40);
   width: 50%;
}


/* end footer */
@media only screen and (max-width: 768px) {
   .hide-phone {
      display: none;
   }

   .hide-desk {
      display: flex;
   }

   .ca-program-img {
      flex-direction: column;
   }

   .ca-program-img img {
      width: 100%;
   }
}

@media(max-width:748px) {
   .slider {
      background: #2b2a32;
      background-image: url('../images/mobilebg.svg') !important;
      background-size: cover;
      background-position: bottom;
   }
}

.logos {
   display: flex;
   justify-content: space-around;
   margin: 30px;
}

.logos img {
   height: 100px;
   object-fit: cover;
}

.counters {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   margin: 0 100px;
}

.counters .counter {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 250px;
   height: 300px;
   border: 1px solid rgb(221, 221, 221);
   border-radius: 10px;
   padding: 10px;
   text-align: center;
   margin: 20px;
   transition: transform 0.25s ease-in-out;
}

.counters .counter:hover {
   transform: translateY(-10px);
}

.counters .counter span {
   display: block;
   font-size: 50px;
   font-weight: 600;
}

.counters .counter h3 {
   font-size: 1.3rem;
   color: rgb(10, 126, 215);
}

.counters .counter p {
   font-size: 1rem;
   margin-top: 20px;
}

@media (width < 700px) {
   .counters {
      margin: 0;
   }
}


#hero-section {
   height: 100lvh;
   width: 100%;
   background-image: url(/images/hero-bg.svg);
   background-repeat: none;
   background-size: cover;

   position: relative;

   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0;

   overflow: hidden;
}

#hero-section .content {
   width: 90dvw;
   height: 100%;
   padding: 0;
   margin: 0;
}

#hero-section span {
   white-space: nowrap;
   display: block;
   font-family: "Outfit" sans-serif;
   font-size: 2rem;
   font-weight: 300;
   line-height: 11px;
   letter-spacing: 0.03em;
   text-align: left;
   /* color: white; */
   padding: 0;
   margin: 0;
   background: linear-gradient(90deg, #CFCFCF 0%, #001354 100%);

   text-align: center;
   position: absolute;

   height: 100%;
   width: 2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   text-orientation: mixed;

}

#hero-section .content {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 1rem;
}

#hero-section span.left {
   writing-mode: vertical-rl;
   bottom: 0;
   left: 0;
   background: linear-gradient(-90deg, #CFCFCF 0%, #001354 100%);
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
}

#hero-section span.right {
   writing-mode: vertical-lr;
   rotate: 180deg;
   bottom: 0;
   right: 0;
   background: linear-gradient(90deg, #CFCFCF 0%, #001354 100%);
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
}

::-webkit-scrollbar {
   width: 0;
}

#hero-section .content h1 {
   background: linear-gradient(180deg, #FFFFFF 0%, #0043FF 100%);
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;

   font-family: DM Sans;
   font-size: 90px;
   font-weight: 700;
   line-height: 90px;
   letter-spacing: -0.065em;
   text-align: center;

}

#hero-section .content p {
   font-family: Inter;
   font-size: 22px;
   font-weight: 400;
   line-height: 31px;
   letter-spacing: -0.036em;
   text-align: center;

   color: white;
}

.breaker {
   background: rgba(163, 230, 255, 1);
   width: 100%;
   height: 3rem;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;

}

.breaker span {
   width: 100%;
   height: 2rem;

   font-family: Outfit;
   font-size: 25px;
   font-weight: 300;
   line-height: 11px;
   letter-spacing: 0.03em;
   text-align: left;

   display: flex;
   justify-content: center;
   align-items: center;

   background: linear-gradient(180deg, #CFCFCF 0%, #001354 100%);
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
}